<a href="https://colab.research.google.com/github/BUNNYKUMA/namastha-pandas/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import statistics 
import pandas as pd

In [3]:
df = pd.read_excel('/content/New Microsoft Excel Worksheet.xlsx')

In [4]:
df

   area  beadRoom  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   20  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
df.beadRoom

0    3.0
1    4.0
2    NaN
3    3.0
4    5.0
5    6.0
Name: beadRoom, dtype: float64

In [8]:
# df.beadRoom = df.beadroom.fillna(df.beadRoom.median())
df1 = df.fillna(df.beadRoom.median())
df1

   area  beadRoom  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   20  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
from sklearn import linear_model

In [10]:
reg = linear_model.LinearRegression()

In [12]:
reg.fit(df1.drop('price',axis='columns'),df1.price)

LinearRegression()

In [13]:
reg.coef_

array([   85.65600685, 40333.42620047, -2911.68334959])

In [15]:
reg.intercept_

230809.33712760493

In [16]:
reg.predict([[3000,4,3]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([640376.01241766])